@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --color-primary: #FF624C;
  --color-secondary: #303030;
}

.iconParent:hover .addtocarticon path {
  fill: white;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.slick-prev:before, .slick-next:before {
  display: none;
}
 .featured.slick-slider .slick-track{
  display: flex;
  column-gap: 4px ;
  align-items: start;
}
 .springSale.slick-slider .slick-slide.slick-active{
  width: 486px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb{
  pointer-events: auto;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #FF624C;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}